@using WEBBANGDIA.Models;
<div class="box">
    <div id="category" class="middle">
        <ul>
            @{
                var list = ((List<BangDia>)ViewBag);
                if (list != null)
                {
                    foreach (var item in list)
                    {
                        
                    }
                }
            }
        </ul>
    </div>
</div>