@using WEBBANGDIA.Models;
<ul>
    @{
        var list = ((List<DanhMuc>)ViewBag.MenuLeft);
        if (list != null)
        {
            foreach (var item in list)
            {
                <li>
                    @Html.ActionLink(@item.TenDanhMuc, "All", "Home", new { idDm = @item.MaDM, page = 1 }, null)
                </li>
            }
        }
    }
</ul>