@model WEBBANGDIA.Models.LoaiTaiKhoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LoaiTaiKhoan</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.MaLoaiTK)*@Mã tài khoản
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaLoaiTK)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.LoaiTK)*@Loại tài khoản
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiTK)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
