@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/GiaoDien.cshtml";
}
<div class="contentNews">
    <div class="titleNews">
    Danh mục tin sản phẩm
</div>
<div class="news">
    @Html.Raw(ViewBag.View)
</div>
</div>


